name: textlint

on:
  pull_request:

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [24.x]
    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
    - run: curl -fsSL https://get.pnpm.io/install.sh | bash -
    - run: echo "/home/runner/.local/share/pnpm:$PATH" >> $GITHUB_PATH
    - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6
      with:
        node-version: 24
        cache: "pnpm"
    - uses: actions/checkout@v6
    - uses: actions/setup-node@v6
      with:
        node-version: ${{ matrix.node-version }}
    - run: make install
    - run: make lint

