name: textlint

on:
  pull_request:

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [24.x]
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
    - run: curl -fsSL https://get.pnpm.io/install.sh | bash -
    - run: echo "/home/runner/.local/share/pnpm:$PATH" >> $GITHUB_PATH
    - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
      with:
        node-version: 24
        cache: "pnpm"
    - uses: actions/checkout@v6
    - uses: actions/setup-node@v6
      with:
        node-version: ${{ matrix.node-version }}
    - run: make install
    - run: make lint

